.calendarContainer.jalaali {
  order: 2;
}
.dayWrapper button[disabled] {
  pointer-events: none !important;
  background-image: repeating-linear-gradient(-45deg,
    transparent 0 4px,
    #B4B4B4 3px 5px) !important;
  color: #aaa !important;
  background-color: #fff !important;
  cursor: not-allowed !important;
}

.calendarContainer .selected button, .calendarContainer .selected button:active, .calendarContainer .selected button:focus, .calendarContainer .selected button:hover {
  background-color: #ff7f00 !important;
  border: 3px solid #ff7f00 !important;
}
.selectToday {
  display: none !important;
}
.tether-element {
  color: #fff;
}
.rc-time-picker.ignore--click--outside {
  display: none;
}
.calendarContainer .title {
  color: #333 !important;
}
