.input-toggler {
  display: none;
  visibility: hidden;
}
.toggle-button {
  position: relative;
  cursor: pointer;
  background-color: #fdfdff;
  width: 25px;
  height: 25px;
  border-radius: 25px;
}
.label-toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: #fbfcfc;
  padding: 1.7rem;
  color: #444;
  font-weight: bold;
  box-shadow: 0px 2px 4px 0 #ddd;
  border-radius: 5px 5px 1px 1px;
  margin-bottom: 0;
}
.label-toggler:hover {
  color: #007fff;
  cursor: pointer;
}
.faq-label:hover {
  color: #ff7f00;
  cursor: pointer;
}
.toggler-expand {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s;
  background-color: #fbfcfc;
  color: #444;
  text-align: justify;
  line-height: 30px;
  font-size: .85rem;
  box-shadow: 0px 2px 5px #ddd;
  border-radius: 5px 5px 1px 1px;
}
.toggler-expand div {
  padding: 20px;
  background-color: #fff;
}
.toggler-expand img {
  border-radius: 5px;
  width: 90%;
  margin: 1rem auto;
  opacity: 0;
  display: block;
  transition: opacity 1s;
}
.toggler-expand a:hover {
  color: #ff8500 !important;
  text-decoration: underline !important;
}
.input-toggler:checked ~ .toggler-expand {
  max-height: 500rem;
  height: auto;
}
.input-toggler:checked + .label-toggler .toggle-span:before{
  transform: rotate(-50deg);
  /* background: #ff8B00; */
}
.input-toggler:checked + .label-toggler .toggle-span:after {
  transform: rotate(50deg);
  /* background: #ff8B00; */
}
.articles-link:not(.collapsed) .toggle-span:after {
  transform: rotate(50deg);
}
.articles-link:not(.collapsed) .toggle-span:before{
  transform: rotate(-50deg);
}
.toggle-span {
  display: block;
  position: absolute;
  top: 9px;
  left: 0;
  margin: 0;
  width: 0;
  height: 0;
  background: #000;
  transition: 0.2s;
  cursor: pointer;
}
.toggle-span::before {
  content:'';
  position:absolute;
  left: 5px;
  top: 3px;
  width: 9px;
  height: 1px;
  background: inherit;
  transition: inherit;
  -webkit-transition: inherit;
  transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
}
.toggle-span::after {
  content:'';
  position:absolute;
  width: 9px;
  height: 1px;
  left: 10px;
  top: 3px;
  background: inherit;
  transition: inherit;
  -webkit-transition: inherit;
  transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
}

.input-toggler:checked~.faq-border {
    display: block !important;
}
.input-toggler:checked + .faq-label {
    box-shadow: none;
  }
