.custom-dropdown-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
  border-radius: 3px;
}

.custom-dropdown {
  display: flex;
  flex-direction: column;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #aaa;
  border-radius: 3px;
}

.custom-dropdown__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  background: #ffffff;
  cursor: pointer;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #aaa;
  border-radius: 3px;
}

.custom-options {
  position: absolute;
  display: block;
  top: calc(100% - 9px);
  left: 5px;
  right: 5px;
  border: 1px solid #aaa;
  border-top-color: #eee;
  background: #fff;
  transition: all .5s;
  overflow: hidden;
  overflow-y: auto;
  max-height: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  border-radius: 3px;
}

.custom-dropdown.open .custom-options {
  max-height: 400px;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 20px 0 20px;
  line-height: 50px;
  cursor: pointer;
  transition: all .5s;
}

.custom-option:hover {
  cursor: pointer;
  background-color: #ddd;
}

.custom-option.selected {
  color: #ffffff;
  background-color: #007fff;
}
.custom-dropdown .arrow {
  position: relative;
  height: 12px;
  width: 12px;
}

.custom-dropdown .arrow::before,
.custom-dropdown .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all .5s;
}

.custom-dropdown .arrow::before {
  left: -4px;
  transform: rotate(-45deg);
  background-color: #555;
}

.custom-dropdown .arrow::after {
  left: 4px;
  transform: rotate(45deg);
  background-color: #555;
}

.open .arrow::before {
  left: -4px;
  transform: rotate(45deg);
}

.open .arrow::after {
  left: 4px;
  transform: rotate(-45deg);
}
