
.navbar-toggler {
  border-color: white !important;
}
button.focus, button:focus, .btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
    border: 0;
}
.dropdown-item,
.dropdown-item.active, .dropdown-item:active,
.dropdown-item.focus, .dropdown-item:focus,
.dropdown-item.hover, .dropdown-item:hover {
  background-color: transparent;
}
