.txt-container-error {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
  text-align: center;
  padding: 100px;
  line-height: 50px;
}
.txt1-error-404 {
  font-weight: bold;
}
