$font-size: 50px;
$color: #ff7f00;
#evaluation-index {
  .visa-index-content {
    width: 60%;
    margin: auto;
  }
  .visa-button.visa-index-arrow {
    width: 250px;
  }
  .visa-index-container {
    width: 55%;
  }
}
