@import "colors";
@mixin page {
  height: 100%;
  padding: 0;
  margin: 0;
}
html {
  @include page;
}
body {
  @include page;
  font-size: 1rem;
}
#__next {
  @include page;
}
main {
  @include page;
  background-color: lighten($color, 75%);
  height: 100%;
}
.login-box {
  background-color: $white;
  padding: 50px;
  width: 400px;
  margin: 10% auto;
  box-shadow: 0 5px 5px rgba(50, 50, 50, 0.2);
}
.header {
  display: flex;
  width: 100%;
  background: $color;
  color: $white;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.pixel-logo {
  width: 30px;
  margin: 5px;
}
.log-out-div {
  cursor: pointer;
  &:hover {
    color: lighten($color, 50%);
  }
}
.start {
  padding: 20px;
  text-align: center;
  margin: auto;
  width: 100px;
  display: block;
  background-color: $link;
  margin: 50px auto;
  color: $white;
  border-radius: 10px;
}
